html, body {
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 90%;
}

.main-header {
    color: white;
    height: 100%;
    width: 100%;
    background-image: url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header .content-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    bottom: 0px;
    position: absolute;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link.source-code {
    text-decoration: underline;
}

.link.button {
    margin: 8px;
    width: 64px;
    height: 64px;
    font-size: 2.5rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    transform: none;
    background-color: transparent;
}

.link.button:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.2);
}

.no-focus {
    outline: 0;
}

.links-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    min-width: 200px;
    padding: 16px;
}

.modal-dialog {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-window {
    background-color: white;
    margin: auto;
    border: 1px solid white;
    border-radius: 6px;
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    color: black;
    position: relative;
}

.modal-title {
    margin: 0;
    text-align: center;
    padding: 16px 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.modal-content {
    margin: 0;
    padding: 8px 24px;
}

.modal-actions {
    padding: 16px 24px;
    text-align: right;
}

.modal-actions button {
    background-color: rgba(9, 30, 66, 0.04);
    color: #3f51b5;
    text-transform: uppercase;
    padding: 6px 8px;
    min-width: 64px;
    box-sizing: border-box;
    font-size: 0.87rem;
    line-height: 1.75;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.02em;
    margin-left: 6px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-actions button:hover {
    background-color: rgba(9, 30, 66, 0.10);
}

#email-address {
    text-decoration: none;
    border-color: rgb(207, 208, 212);
    border-radius: 0.5vh;
    border-style: solid;
    padding: 8px 6px;
    font-size: 1rem;
    line-height: 1.5em;
    width: 96.5%;
    color: rgb(9, 30, 66);
}

.speech-bubble {
    position: absolute;
    background: #191919;
    color: #fff;
    border-radius: 6px;
    line-height: 24px;
    width: 56px !important;
    font-size: 12px;
    text-align: center;
    right: 22px;
    margin-top: -30px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin-left: -5px;
    margin-bottom: -6px;
    border-top-color: #191919;
    border-bottom: 0;
}