html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 300px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.error404 {
    width: 100%;
    height: 100%;
    background-image: url('../img/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message-wrapper {
    width: 100%;
    min-height: 300px;
    padding: 32px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.65);
}

.message {
    min-width: 300px;
    max-width: 900px;
    height: 100%;
    text-align: center;
    letter-spacing: 0.03rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 2.5rem;
    margin: 16px 6px;
    margin-top: 0px;
    padding: 6px 16px;
    letter-spacing: -0.03rem;
}

a, p {
    font-size: 1.5rem;
    padding: 6px 16px;
    margin: 16px 6px;
    letter-spacing: -0.01rem;
}

a {
    color: inherit;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border: 1px solid;
    border-radius: 12px;
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 400px) {
    h2 {
        font-size: 2rem;
    }
    a, p {
        font-size: 1rem;
    }
}

@media(min-width: 400px) and (max-width: 600px) {
    h2 {
        font-size: 2.2rem;
    }
    a, p {
        font-size: 1.2rem;
    }
}

@media(min-width: 600px) and (max-width: 720px) {
    h2 {
        font-size: 2.4rem;
    }
    a, p {
        font-size: 1.4rem;
    }
}