html, body {
    min-width: 300px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
}

span {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.04rem;
}

.main-header {
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header .content-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-size: 4.8rem;
    padding: 14px;
    margin: 0;
    font-weight: 900;
    letter-spacing: -0.02rem;
}

.subtitle {
    font-size: 2.2rem;
    padding: 8px;
    margin: 0;
    letter-spacing: -0.025em;
}

.content-wrapper {
    width: 100%;
    min-width: 300px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-footer {
    min-width: 300px;
    display: flex;
    justify-content: space-around;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link.manifiesto {
    padding: 9px;
    font-size: 1.20em;
    text-align: center;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.4);
}

.link.button {
    margin: 8px;
    width: 62px;
    height: 62px;
    font-size: 2.2rem;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    transform: none;
    background-color: transparent;
}

.link.button:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.03);
}

.link.button:focus {
    opacity: 0.5;
    outline: none;
    transform: scale(1.03);
}

.link.language {
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.link.language:hover {
    background-color: rgba(9, 30, 66, 0.10);
}

.link.language i {
    font-size: 2.3rem;
    color: #4a8cf7;
}

.link.language p {
    margin: 0;
    font-size: 1.3em;
    padding-left: 1.5vh;
}

.links-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    min-width: 200px;
    padding: 12px;
}

.modal-dialog {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-window {
    background-color: white;
    margin: auto;
    border: 1px solid white;
    border-radius: 6px;
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    color: black;
    position: relative;
}

.modal-title {
    margin: 0;
    text-align: center;
    padding: 16px 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.55rem;
    letter-spacing: 0.02em;
}

.modal-content {
    margin: 0;
    padding: 8px 24px;
}

.modal-actions {
    padding: 16px 24px;
    text-align: right;
}

.modal-actions button {
    background-color: rgba(9, 30, 66, 0.04);
    color: #3f51b5;
    text-transform: uppercase;
    padding: 6px 8px;
    min-width: 64px;
    box-sizing: border-box;
    font-size: 0.87rem;
    line-height: 1.75;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.02em;
    margin-left: 6px;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-actions button:hover {
    background-color: rgba(9, 30, 66, 0.10);
}

#email-address {
    text-decoration: none;
    border-color: rgb(207, 208, 212);
    border-radius: 0.5vh;
    border-style: solid;
    padding: 8px 6px;
    font-size: 1rem;
    line-height: 1.5em;
    color: rgb(9, 30, 66);
    text-align: center;
    width: fill-available;
    /* WebKit-based browsers will ignore this. */
    width: -moz-available;
    /* Mozilla-based browsers will ignore this. */
    width: -webkit-fill-available;
}

.speech-bubble {
    position: absolute;
    background: #191919;
    color: #fff;
    border-radius: 6px;
    line-height: 24px;
    width: 56px !important;
    font-size: 12px;
    text-align: center;
    right: 0px;
    margin-top: -30px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin-left: -5px;
    margin-bottom: -6px;
    border-top-color: #191919;
    border-bottom: 0;
}

.language-menu {
    width: calc(100% - 24px);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-end;
    margin: 12px;
    margin-bottom: 0px;
    list-style: none;
    font-size: 1.4rem;
}

.language-menu a {
    margin-left: 18px;
    text-align: center;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0px 12px;
    color: inherit;
    opacity: 1;
    text-decoration: none;
}

.language-menu a:hover {
    cursor: pointer;
}

.language-menu a:hover, .current-language {
    background-color: #fff;
    color: #000 !important;
}

#scrolldown-button {
    display: block;
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 44px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    -webkit-animation: bounce 4s 2s infinite;
    animation: bounce 4s 2s infinite;
}

#scrolldown-button:hover {
    cursor: pointer;
}

.footer {
    padding: 20px;
    width: calc(100% - 40px);
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
    color: #C0C0C0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer>* {
    margin-bottom: 6px;
}

.footer p {
    margin: 0px;
}

.media {
    display: flex;
    justify-content: center;
}

.media .link.button {
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer .link.button:hover {
    color: black;
    cursor: pointer;
    opacity: 1;
    transform: none;
    background-color: #C0C0C0;
}

section {
    padding: 50px 10px;
}

section .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#email {
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
    font-size: 1.2rem;
    position: relative;
    margin-top: 20px;
}

.action-button {
    width: 100%;
    display: block;
    color: white;
    background-color: rgb(232, 81, 10);
    margin-top: 0.5vh;
    padding: 9px 0;
    border: none;
    border-radius: 0.5vh;
    line-height: 1.5em;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.action-button:hover {
    cursor: pointer;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 2.3rem;
    font-weight: 100;
    padding: 10px 0;
    margin: 0 0 20px 0;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0;
}

.paragraph {
    padding: 16px;
    min-width: 200px;
    text-align: justify;
}

.paragraph.big {
    max-width: 500px;
}

.paragraph.small {
    max-width: 400px;
}

.paragraph-title {
    font-weight: bold;
    font-size: 1.4rem;
}

.paragraph-body {
    font-size: 1rem;
    margin: 18px 0;
}

#stack {
    background-color: #f5f5f5;
}

.stack-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.stack-image {
    max-height: 80px;
    max-width: 160px;
    padding: 16px;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    margin: 8px 0;
}

.progress-bar span {
    width: 20%;
}

.progress-bar-background {
    background-color: #e9e5e5;
    width: 80%;
    border-radius: 6px;
}

.progress-bar-foreground {
    text-align: right;
    text-transform: uppercase;
    background-color: #74cdba;
    border-radius: 6px;
    padding: 3px 6px;
}

#spanish-bar {
    width: calc(100% - 12px);
}

#english-bar {
    width: calc(66% - 12px);
}

#german-bar {
    width: calc(33% - 12px);
}

.avatar {
    display: block;
    max-width: 200px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

.cornerstone-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.cornerstone {
    height: 153px;
    max-width: 96px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid #ddd;
    padding: 8px;
    font-weight: bold;
    color: inherit;
    margin: 8px;
}

.cornerstone img {
    max-width: inherit;
    display: block;
    margin-bottom: 6px;
    border-radius: inherit;
}

.navigation-bar {
    position: fixed;
    background-color: white;
    padding: 0 16px;
    width: calc(100% - 32px);
    border-bottom: 1px solid #e6e6e6;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.navigation-bar * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.navigation-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation-link, .dropdown {
    display: inline-block;
    text-decoration: none;
    padding: 23px 7px;
    color: inherit;
    border-top: 4px solid transparent;
}

.navigation-link:hover {
    cursor: pointer;
}

.navigation-buttons>a:hover {
    border-top-color: black;
}

.dropdown {
    min-width: 120px;
}

.dropdown:hover {
    cursor: pointer;
    border-top-color: black;
}

.dropdown-content {
    display: none;
    margin-top: 22px;
    position: absolute;
    background-color: white;
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 6px 12px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.navigation-bar a.icon {
    display: none;
}

.mobile-menu {
    width: 28px;
}

.horizontal-bar {
    height: 4px;
    background-color: #2b2b2be8;
}

.horizontal-bar.margin {
    margin: 5px 0;
}

.main-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}